.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col {
    padding: 10px 0px;
    box-sizing: border-box;
}

.col-20 {
    flex: 0 0 100%;
    line-height: 60px;
}

.col-60 {
    flex: 0 0 100%;
    line-height: 60px;
}

@media only screen and (min-width: 900px) {
    .col-10 {
        flex: 0 0 9.75%;
    }

    .col-20 {
        flex: 0 0 19.75%;
    }

    .col-30 {
        flex: 0 0 29.75%;
    }

    .col-40 {
        flex: 0 0 39.75%;
    }

    .col-60 {
        flex: 0 0 59.5%;
    }
}

.item {
    margin: 2px;
    text-align: center;
    min-height: 60px;
}

.item > ol {
    line-height: normal;
    text-align: left;
}

.main-contain {
    min-height: 200px;
}

code {
    background-color: #ddd;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    border-radius: 6px;
    font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
}